<template>
  <div>
    <div>
      <h2 class="course-title">Course Lists</h2>
      <div>
        <div v-for="post in posts" :key="post.id">
          <div class="mycolumn">
            <a :href="'/post/'+ post.title + '/edit'">
              <Post v-bind:post="post"></Post>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Post from '../Posts/Post/Post'
export default {
  name: 'Posts',
  components: {
    Post
  },
  data () {
    return {
      posts: []
    }
  },
  mounted () {
    axios.get('https://vue-app-ffd3c.firebaseio.com/courses.json')
    .then(response => {
      this.posts = response.data
      console.log(this.posts)
    })
    .catch(error => {
      console.log('cannot connect to data server', error)
    })
  }
}
</script>
<style scoped>
.course-title {
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
}
.mycolumn {
  width: 32.33%;
  height: auto;
  min-height: 220px;
  background: #00d1b2;
  margin: 5px;
  float: left;
}
@media (max-width: 400px) {
  .mycolumn {
    width: 99%;
  }
  .course-title {
    padding-left: 5px;
  }
}
</style>
