<template>
  <div class="create-post">
    <div class="myform">
        <h2>{{ $route.params.id }}</h2>
        <div class="field">
        <label class="label">Title</label>
        <div class="control">
            <input class="input" v-model="title" type="text" placeholder="Title">
        </div>
        <p v-if="errors.title" class="help is-danger">Please enter course title.</p>
        </div>

        <div class="field">
        <label class="label">Body</label>
        <div class="control">
            <textarea v-model="body" name="body" class="textarea" placeholder="Course body"></textarea>
        </div>
        <p v-if="errors.body" class="help is-danger">Please enter course body.</p>
        </div>

        <div class="field">
        <div class="control">
            <label class="checkbox">
            <input type="checkbox">
            I agree to the <a href="#">terms and conditions</a>
            </label>
        </div>
        </div>

        <div class="field is-grouped">
        <div class="control">
            <button class="button is-link" type="submit" @click="formSubmit">Submit</button>
        </div>
        <div class="control">
            <button class="button is-link is-light">Cancel</button>
        </div>
        </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'Edit',
  props: ['post'],
  data () {
    return {
      title: '',
      body: '',
      errors: {
        title: false,
        body: false
      }
    }
  },
  methods: {
    formSubmit (event) {
      event.preventDefault()
      if (!this.title) {
        this.errors.title = true
      } else {
        const courses = {
          title: this.title,
          body: this.body
        }
        axios.post('https://vue-app-ffd3c.firebaseio.com/courses.json', courses)
        .then(response => {
          this.$router.push('/')
        })
        .catch(error => {
          console.log('error', error)
        })
      }
    }
  }
}
</script>

<style scoped>
.myform {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px solid #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}
.label {
  text-align: left;
}
</style>
