<template>
  <div>
    <h3>{{ post.title }}</h3>
    <p>{{ post.body }}</p>
    <div class="image">
      <img src="https://loremflickr.com/320/240" />
    </div>
    <h2>{{ post.authur }}</h2>
  </div>
</template>

<script>
export default {
  name: 'Posts',
  props: ['post'],
  data () {
    return {
      posts: []
    }
  }
}
</script>

<style scoped>
.image {
  bottom: 0px;
}
.image img{
  margin-bottom: 0px;
}
</style>
